# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.faiss
*.index
*.npy

# Output Files
data/videos/
data/audio/
data/transcripts/
data/chunks/
data/vector_store/
data/vector_store/embeddings/
data/vector_store/indexes/

# IDE
.vscode/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

#Test file
test.py