# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc

# Output Files
data/videos/
data/audio/
data/transcripts/

# IDE
.vscode/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db